@using System.Collections.Generic

@model IEnumerable<RetrogameWeb.Data.Entities.Player>

@{
    ViewBag.Title = "Players";
}

<h2>Players</h2>

<p>@Html.ActionLink("Create New", "Create")</p>

<table>
    <tr>
        <th>@Html.DisplayNameFor(player => player.Name)</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
        <td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID.ToString() }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID.ToString() }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID.ToString() })
            </td>
        </tr>
    }

</table>